.calendario ul li{
    width: calc(100% / 7);
}

.dias li {
    margin-top: 20px;
}

.dias li button{
    cursor: pointer;
}

input[ type = 'date']::-webkit-calendar-picker-indicator{
    display: none;

}
